@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #101828;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-outfit);

  --color-brand-50: #ecf3ff;
  --color-brand-100: #dde9ff;
  --color-brand-200: #c2d6ff;
  --color-brand-300: #9cb9ff;
  --color-brand-400: #7592ff;
  --color-brand-500: #465fff;
  --color-brand-600: #3641f5;
  --color-brand-700: #2a31d8;
  --color-brand-800: #252dae;
  --color-brand-900: #262e89;

  --color-success-50: #ecfdf3;
  --color-success-100: #d1fadf;
  --color-success-400: #32d583;
  --color-success-500: #12b76a;
  --color-success-600: #039855;
  --color-success-700: #027a48;

  --color-error-50: #fef3f2;
  --color-error-100: #fee4e2;
  --color-error-500: #f04438;
  --color-error-600: #d92d20;
  --color-error-700: #b42318;

  --color-warning-50: #fffaeb;
  --color-warning-500: #f79009;
  --color-warning-600: #dc6803;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0b0e14;
    --foreground: #f2f4f7;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
